@import "tailwindcss";


@layer base {
  html {
    font-size: 18px;
  }

  html,
  body {
    @apply bg-zinc-950 text-zinc-100 overflow-x-hidden overflow-y-auto scroll-smooth;
    scrollbar-width: 2px;
    -ms-overflow-style: none;
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }
}